<h1>Input Restaurants</h1>

<p>Input up to 10 places to pick from</p>

<form action="/lunch_pick">
    <div>
        <label for="choice_1">
            Choice #1
        </label>
        
        <input id="choice_1" type="text" name="choice_1">
    </div>
    
    <div>
        <label for="choice_2">
            Choice #2
        </label>
        
        <input id="choice_2" type="text" name="choice_2">
    </div>
    
    <div>
        <label for="choice_3">
            Choice #3
        </label>
        
        <input id="choice_3" type="text" name="choice_3">
    </div>
    
    <div>
        <label for="choice_4">
            Choice #4
        </label>
        
        <input id="choice_4" type="text" name="choice_4">
    </div>
    
    <div>
        <label for="choice_5">
            Choice #5
        </label>
        
        <input id="choice_5" type="text" name="choice_5">
    </div>
    
    <div>
        <label for="choice_6">
            Choice #6
        </label>
        
        <input id="choice_6" type="text" name="choice_6">
    </div>
    
    <div>
        <label for="choice_7">
            Choice #7
        </label>
        
        <input id="choice_7" type="text" name="choice_7">
    </div>
    
    <div>
        <label for="choice_8">
            Choice #8
        </label>
        
        <input id="choice_8" type="text" name="choice_8">
    </div>
    
    <div>
        <label for="choice_9">
            Choice #9
        </label>
        
        <input id="choice_9" type="text" name="choice_9">
    </div>
    
    <div>
        <label for="choice_10">
            Choice #10
        </label>
        
        <input id="choice_10" type="text" name="choice_10">
    </div>
    
    <button>Pick a Place!</button>
    
</form>

<p><a href="/">Back to Home Page</a></p>