<h1>Hi</h1>

<p>Leave your lunch up to fate</p>

<form>
    <div>
        <label for="current_location">
            Current Location:
        </label>
        
        <input id="current_location" type="text" name="location">
    </div>
    
    <button>Pick a Place!</button>
</form>

<p><a href="/">Back to Home Page</a></p>