<h1>
  Your History
</h1>


<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      Name
    </th>

    <th>
      User
    </th>

    <th>
      Created at
    </th>

    <th>
    </th>
  </tr>

  <% @restaurants.each do |restaurant| %>
  <tr>
    <td>
      <%= restaurant.id %>
    </td>

    <td>
      <%= restaurant.name %>
    </td>

    <td>
      <%= restaurant.user_id %>
    </td>

    <td>
      <%= time_ago_in_words(restaurant.created_at) %> ago
    </td>

  </tr>
  <% end %>
</table>
